<div data-role="view" id="create-account" data-id="create-account" data-show="app.accounts.createShow"
    data-layout="main-layout" data-title="Create-account">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton" id="cancel">Cancel</a>
            <span data-role="view-title">Create account</span>
            <a class="nav-button" data-align="right" data-role="button" data-bind="events: {click: createEntry}" id="done">Done</a>
        </div>
    </header>

    <form>
        <ul>
            <li>
                <label>Institution name
                    <input type="text" data-bind="value: createModel.provider" />
                </label>
            </li>            
            <li>
                <label>Account number
                    <input type="text" data-bind="value: createModel.number"/>
                </label>
            </li>
            <li>
                <label>Card type
                    <input type="text" data-bind="value: createModel.cardType"/>
                </label>
            </li>
            <li>
                <label>Screenshot
                    <img id="smallImage" data-bind="attr: { src: createModel.screenshotUrl }"/>    
                </label>
                <a data-role="button" onclick="cordovaExt.capturePhoto()">Make screenshot</a>
                <a data-role="button" onclick="cordovaExt.uploadFromLibrary()">Select from album</a>
            </li>
            <li>
                <label>Institution location
                    <input id="input-loc" type="text" data-bind="value: createModel.bankLocation" />
                </label>
                <a data-role="button" onclick="getCurrentLocation()">Set current</a>
            </li>
        </ul>        
    </form>
</div>
<div id="success-error"></div>
<script>
    function getCurrentLocation(){
        cordovaExt.getLocation().then(function(location) {
            var locationString = location.coords.latitude + "," + location.coords.longitude;            
            $('#input-loc').val(locationString); 
        })
    }
</script>
