<div data-role="view" id="create-contact" data-id="create-contact" data-show="app.contacts.createShow"
    data-layout="main-layout" data-title="Create-contact">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton" id="cancel">Cancel</a>
            <span data-role="view-title">Create contact</span>
            <a class="nav-button" data-align="right" data-role="button" data-bind="events: {click: createEntry}" id="done">Done</a>
        </div>
    </header>

    <form>
        <ul>
            <li>
                <label>Name
                    <input id="name-input" type="text" data-bind="value: createModel.name" />
                </label>
                <a data-role="button" onclick="getContactData()">Fill data from phone contacts</a>
            </li>
            <hr/>
            <li>
                <label>Email
                    <input id="input-mail" type="text" data-bind="value: createModel.email" />
                </label>                
            </li>
            <li>
                <label>Phone
                    <input id="input-phone" type="text" data-bind="value: createModel.phone"/>
                </label>
            </li>
            <li>
                <label>Notes
                    <textarea data-bind="value: createModel.notes"></textarea>                   
                </label>
            </li> 
            <hr/>
        </ul>        
    </form>
</div>
<div id="success-error"></div>
<script>
    function getContactData(){
        var name = $('#name-input').text();
        if(name == undefined || name == ""){
            $('#success-error').text("Name field is required for the import")
        }
        
        cordovaExt.getContact(name);
    }
</script>