<div data-role="view" id="contacts-view" data-id="contacts-view"
     data-layout="main-layout" data-title="Contacts"
     data-show="app.contacts.init">
    <ul id="command-list">
        <li>
            <a data-role="button" data-bind="events: {click: getAlphabetically}">Alphabetically</a>
        </li>
        <li>
            <a data-role="button" href="views/contacts-create-view.html#create-contact">Add new</a>
        </li>
    </ul>
    <ul data-role="listview" data-bind="source: contacts" data-template="contact-template"></ul>
</div>
<script id="contact-template" type="text/x-kendo-template">
    <div>
        <p><img src="#: imageUrl #" alt="n/a" width="70px" height="70px" /><span>#: name #</span>
            <span><a onclick="navigate(#: id #)">View details</a></span>
        </p>
    </div>
</script>
<script>
    function navigate(id) {
        //console.log(id);
        kendo.mobile.application.navigate("views/contacts-edit-view.html#edit-detailview?uid=" + id);
    }
</script>