<div data-role="view" id="credentials-view" data-id="credentials-view"
     data-layout="main-layout" data-title="Credentials"
     data-show="app.creds.init">
    <ul id="command-list">
        <li>
            <a data-role="button" data-bind="events: {click: getAlphabetically}">Alphabetically</a>
        </li>
        <li>
            <a data-role="button" href="views/credentials-create-view.html#create-cred">Add new</a>
        </li>
    </ul>
    <ul data-role="listview" data-bind="source: credentials" data-template="cred-template"></ul>
</div>
<script id="cred-template" type="text/x-kendo-template">
    <div>
        <p>#: address #<span><a data-role="button" href="#= 'views/credentials-edit-view.html\#edit-detailview?uid=' + id #">View details</a></span></p>
    </div>
</script>