<div data-role="view" id="edit-detailview" data-id="edit-detailview" data-show="app.creds.detailShow"
    data-layout="main-layout" data-title="Details">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton" id="cancel">Cancel</a>
            <span data-role="view-title">Details</span>
            <a class="nav-button" data-align="right" data-role="button" data-bind="events: {click: saveEntry}" id="done">Done</a>
        </div>
    </header>

    <form>
        <ul>
            <li>
                <label>Institution name
                    <input type="text" data-bind="value: detailModel.provider"/>
                </label>
            </li>            
            <li>
                <label>Account number
                    <input type="text" data-bind="value: detailModel.address"/>
                </label>
            </li>
            <li>
                <label>Password
                    <input type="text" data-bind="value: detailModel.password"/>
                </label>
            </li>            
        </ul>        
    </form>
</div>
<div id="success-error"></div>