<div data-role="view" id="create-cred" data-id="create-cred" data-show="app.creds.createShow"
    data-layout="main-layout" data-title="Create-credential">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton" id="cancel">Cancel</a>
            <span data-role="view-title">Create credential</span>
            <a class="nav-button" data-align="right" data-role="button" data-bind="events: {click: createEntry}" id="done">Done</a>
        </div>
    </header>

    <form>
        <ul>
            <li>
                <label>Provider name
                    <input type="text" data-bind="value: createModel.provider" />
                </label>
            </li>            
            <li>
                <label>Web address
                    <input type="text" data-bind="value: createModel.address" />
                </label>
            </li>
            <li>
                <label>Password
                    <input type="text" data-bind="value: createModel.password"/>
                </label>
            </li>            
        </ul>        
    </form>
</div>