<div data-role="view" id="credentials-view" data-id="credentials-view"
     data-layout="main-layout" data-title="Credentials"
     data-show="app.creds.init">
    <ul id="command-list" data-role="buttongroup" data-index="0" data-select="regroup">
        <li>
            <a data-role="button" data-bind="events: {click: getAlphabetically}">Sort a-z</a>
        </li>        
    </ul>
     <a id="create-btn" data-role="button" href="views/credentials-create-view.html#create-cred">Add new</a>
    <ul data-role="listview" data-bind="source: credentials" data-template="cred-template"></ul>
</div>
<script id="cred-template" type="text/x-kendo-template">
    <div>
        <p class="entry">
            <span class="address">#: address #</span>
            <span class="pull-right"><a data-role="button" href="#= 'views/credentials-edit-view.html\#edit-detailview?uid=' + id #">Details</a></span>
        </p>
    </div>
</script>